body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
}

div {
    font-family: "ChunkLatin", Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
    font-family: "ChunkLatin";
    src: url("latin/OPTILatin-Wide.otf") format("opentype");
}
